
@{
    ViewBag.Title = "Label";
}

<style>
    .bg-print-btn-color {
        background-color: limegreen;
        color: white;
    }

    .bg-logout-btn-color {
        background-color: orangered;
        color: white;
    }
    .bg-home-btn-color {
        background-color: dodgerblue;
        color: white;
    }
    .dropdown-control {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
/*        -webkit-appearance: none;*/
        -moz-appearance: none;
      /*  appearance: none;*/
        border-radius: 0.25rem;
    /*    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;*/
    }
    .hidden {
        display: none;
    }
 

</style>
@using (Html.BeginForm("PrintRackLabel", "Home"))
{
    @*<button type="button" class="btn bg-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm" style="color:white;margin-left:1000px!important" onclick="itemLabel()">Item Label</button>*@

<div class="col-sm-12 bg-light" style="margin-top:10px !important">
    <div class="row" style="margin-left:10px !important">
        <label style="font-size:12px !important; font-weight:bold">Select Label</label>
        <div class="col-sm-2">
            <input type="radio" id="inner" name="labelchecker" value="Inner" checked onclick="EnableDisableTB()">
            <label style="font-size:12px !important; font-weight:bold">Inner Label</label>

        </div>
        <div class="col-sm-2">
            <input type="radio" id="outer" name="labelchecker" value="Outer" checked onclick="EnableDisableTB()">
            <label style="font-size:12px !important; font-weight:bold">Outer Label</label>
        </div>
    </div>


    <div class="row" style="margin-top: 10px !important; margin-left: 10px !important">
        <div class="col-sm-3">
            <label style="font-size:12px !important; font-weight:bold">Receiptkey</label>
            <input id="plabel1" type="text" autocomplete="off" placeholder="Receiptkey" class="form-control border-0 shadow-sm px-4 text-primary">
        </div>
        <div class="col-sm-3">
            <label style="font-size:12px !important; font-weight:bold">Item</label>
            <input id="plabel2" type="text" autocomplete="off" placeholder="Item" disabled="disabled" class="form-control border-0 shadow-sm px-4 text-primary">
        </div>
        <div class="col-sm-3">
            <label style="font-size:12px !important; font-weight:bold">Lot</label>
            <input id="plabel3" type="text" autocomplete="off" placeholder="Lot" class="form-control border-0 shadow-sm px-4 text-primary">
        </div>
        <div class="col-sm-3">
            <label style="font-size:12px !important; font-weight:bold">Weight</label>
            <input id="plabel4" type="text" autocomplete="off" placeholder="Weight" disabled="disabled" class="form-control border-0 shadow-sm px-4 text-primary">
        </div>
    </div>
    <div class="row" style="margin-top: 10px !important; margin-left: 10px !important">
        <div class="col-sm-3">
            <label style="font-size:12px !important; font-weight:bold">Inner Label Count</label>
            <input id="plabel5" type="number" autocomplete="off" placeholder="Inner Label Count" disabled="disabled" class="form-control border-0 shadow-sm px-4 text-primary">
        </div>
        <div class="col-sm-3">
            <label style="font-size:12px !important; font-weight:bold">Inner Qty</label>
            <input id="plabel6" type="number" autocomplete="off" placeholder="InnerQty" disabled="disabled" class="form-control border-0 shadow-sm px-4 text-primary">

        </div>
        <div class="col-sm-3">
            <label style="font-size:12px !important; font-weight:bold">Manufacture Date</label>

            <input id="plabel7" type="date" onkeypress="return false" autocomplete="off" placeholder="Manufacture Date" class="form-control border-0 shadow-sm px-4 text-primary">
        </div>
        <div class="col-sm-3">
            <label style="font-size:12px !important; font-weight:bold">DateCode</label>
            <input id="plabel8" type="date" onkeypress="return false" autocomplete="off" placeholder="DateCode" class="form-control border-0 shadow-sm px-4 text-primary">
        </div>
    </div>

    <div class="row" style="margin-top: 10px !important; margin-left: 10px !important">
        <div class="col-sm-3">
            <label style="font-size:12px !important; font-weight:bold">Country of Orgin</label>
            <br />
            <input type="radio" id="coo1" name="contact" value="China">
            <label style="font-size:12px !important; font-weight:bold" for="email">China(CN)</label>
            <br />
            <input type="radio" id="coo2" name="contact" value="Thailand">
            <label style="font-size:12px !important; font-weight:bold" for="email">Thailand(TH)</label>
            <br />
            <input type="radio" id="coo3" name="contact" value="Indonesia">
            <label style="font-size:12px !important; font-weight:bold" for="email">Indonesia(ID)</label>
            <br />
            <input type="radio" id="coo13" name="contact" value="Philippines">
            <label style="font-size:12px !important; font-weight:bold" for="email">Philippines(PH)</label>
            
          



        </div>
        <div class="col-sm-3" style="margin-top:20px !important">
            <input type="radio" id="coo4" name="contact" value="Japan">
            <label style="font-size:12px !important; font-weight:bold" for="email">Japan(JP)</label>
            <br />
            <input type="radio" id="coo5" name="contact" value="Malaysia">
            <label style="font-size:12px !important; font-weight:bold" for="email">Malaysia(MY)</label>

            <br />
            <input type="radio" id="coo6" name="contact" value="North Korea">
            <label style="font-size:12px !important; font-weight:bold" for="email">North Korea(KP)</label>
            <br />
            <input type="radio" id="coo14" name="contact" value="Not Applicable">
            <label style="font-size:12px !important; font-weight:bold" for="email">Not Applicable(NA)</label>



        </div>
        <div class="col-sm-3" style="margin-top:25px !important">
            <input type="radio" id="coo7" name="contact" value="South Korea">
            <label style="font-size:12px !important; font-weight:bold" for="email">South Korea(KR)</label>
            <br />
            <input type="radio" id="coo8" name="contact" value="Singapore">
            <label style="font-size:12px !important; font-weight:bold" for="email">Singapore(SG)</label>
            <br />
            <input type="radio" id="coo9" name="contact" value="Taiwan">
            <label style="font-size:12px !important; font-weight:bold" for="email">Taiwan(TW)</label>

        </div>
        <div class="col-sm-3" style="margin-top:25px !important">
            <input type="radio" id="coo10" name="contact" value="Italy">
            <label style="font-size:12px !important; font-weight:bold" for="email">Italy(IT)</label>
            <br />
            <input type="radio" id="coo11" name="contact" value="Vietnam">
            <label style="font-size:12px !important; font-weight:bold" for="email">Vietnam(VN)</label>
            <br />
            <input type="radio" id="coo12" name="contact" value="Germany">
            <label style="font-size:12px !important; font-weight:bold" for="email">Germany(DE)</label>
        </div>
    </div>
    <div class="row" style="margin-top: 10px !important; margin-left: 10px !important">
        <div class="col-sm-3">
            <input  type="checkbox" id="lpncheker" name="lpnfun" value="lpnCheck" onclick="EnabelLpn()">
            <label id="lpnlabelchecker" style="font-size:12px !important; font-weight:bold">Looking to print individual LPN?</label>
        </div>
        
    </div>
    <div class="row" style="margin-top: 10px !important; margin-left: 10px !important">

        <div class="col-sm-3">

            <label  style="font-size:12px !important;  font-weight:bold">LPN</label>
            <input  id="plabel11" type="text" autocomplete="off" disabled="disabled" placeholder="LPN" class="form-control border-0 shadow-sm px-4 text-primary">
        </div>
        <div class="col-sm-3">

            <label style="font-size:12px !important; font-weight:bold">Printer Name</label>
            <select id="plabel9" type="text" placeholder="Select" class="dropdown-control border-0 shadow-sm px-4 text-primary">
                @*@if (@ViewBag.printer != null)
        {
            <option value="@ViewBag.printer">@ViewBag.printer</option>
        }
        else
        {
            <option value="">Select Printer </option>
        }

        @for (var i = 1; i <= @ViewBag.Printercount; i++)
        {
            if (@TempData["printer" + i] != null)
            {
                <option value=@TempData["printer" + i]>@TempData["printer" + i]</option>
            }

        }*@
                <option value="">Select Printer </option>
                <option value="VYTEST">VyapiSoft Printer</option>
                @*<option value="">Select Printer </option>
                <option value="PIDSASHIP6">PIDSASHIP6</option>*@

            </select>
        </div>
        <div class="col-sm-3">
            <button type="button" id="printbutton" class="btn bg-print-btn-color btn-block text-uppercase mb-2 shadow-sm" style="margin-top: 20px !important; width: 100px !important" onclick="getlabledata()">Print</button>
            <div class="spinner-border text-warning hidden" style="margin-top: 20px !important" id="spin"></div>
        </div>

    </div>
    <div class="row" style="margin-top: 10px !important; margin-left: 10px !important">
        <div class="col-sm-3">
            <div class="row">
                <div class="col-sm-6">
                    <button type="button" class="btn bg-home-btn-color bg-home-btn-color btn-block text-uppercase mb-2  shadow-sm" style="margin-top: 20px !important; width: 100% !important" onclick="Home()">Home</button>

                </div>
                <div class="col-sm-6">
                    <button type="button" href="Login" style="margin-left: 30px !important; margin-top: 20px !important; width: 100% !important" class="btn bg-logout-btn-color btn-block text-uppercase mb-2  shadow-sm" onclick="logOut()">Logout</button>

                </div>
            </div>
        </div>

    </div>

</div>
    }

<script>
    var Orderkey = "";
    var sku = "";
    var COO = "";
    var mfdate = "";
    var datecode = "";
    var lot = "";
    var wgt = "";
    var InnerQty = "";
    var innercount = "";
    var printer = "";
    var OuterQty = "";
    var No_of_Labels = "";
    var LPN = "";
    var orderLineno = "";
    //Focus on eqch field
    //function focusevent(i) {

    //    i = i + 1
    //    $("#plabel" + i).focus();
    //}

    function getlabledata() {
        debugger
        var coo = "";

        var radios = document.getElementsByName('contact');
        for (var radio of radios) {
            if (radio.checked) {
                coo = radio.value
            }
            else {
                /*  alert("nothing select");*/
            }
        }
        var labeclvalidation = "";
        var labelradio = document.getElementsByName('labelchecker');
        for (var radio of labelradio) {
            if (radio.checked) {
                labeclvalidation = radio.value
            }
            else {
                /*  alert("nothing select");*/
            }
        }
        if (labeclvalidation == "Inner") {
            if ($.trim($("#plabel1").val()) != "") {
                 Orderkey = $.trim($("#plabel1").val());
                if (($.trim($("#plabel2").val()) != "") || ($.trim($("#plabel11").val()) != "")) {
                    sku = $.trim($("#plabel2").val());
                    LPN = $.trim($("#plabel11").val());
                    if (($.trim($("#plabel6").val()) != "") && ($.trim($("#plabel6").val()) != 0)) {
                        InnerQty = $.trim($("#plabel6").val());
                        if (($.trim($("#plabel5").val()) != "") && ($.trim($("#plabel5").val()) != 0)) {
                            innercount = $.trim($("#plabel5").val());

                        if ($.trim($("#plabel9").val()) != "") {
                            printer = $.trim($('#plabel9').val());
                            if (coo != "") {
                                 COO = coo;
                                wgt = $.trim($("#plabel4").val());
                                this.getlabelValidation()
                            }
                            else {
                                alert("Please select Country of Orgin")
                            }
                        }
                        else {
                            alert("Please select Printer");
                        }
                       }
                        else {
                            alert("Please give valid Inner Count")
                        }
                    }
                    else {
                        alert("Please Fill valid inner Qty")
                    }

                }
                else {
                    alert("Please fill Item or LPN");
                }
            }
            else {
                alert("Please fill Orderkey");
            }

        }
        else if (labeclvalidation == "Outer") {
            debugger
            console.log($.trim($("#plabel1").val()));
            if ($.trim($("#plabel1").val()) != "") {
                Orderkey = $.trim($("#plabel1").val());
                if ($.trim($("#plabel9").val()) != "") {
                    printer = $.trim($('#plabel9').val());
                    if (coo != "") {
                        COO = coo;
                        if (document.getElementById("lpncheker").checked == true) {
                            if ($.trim($("#plabel11").val()) != "") {
                                LPN = $.trim($("#plabel11").val());
                                this.getlabelValidation()

                            }
                            else {
                                alert("Looking to print individual LPN is checked, Please provid LPN")
                            }
                        }
                        else {
                            LPN = $.trim($("#plabel11").val());
                            this.getlabelValidation()

                        }

                    }
                    else {
                        alert("Please select Country of Orgin")

                    }
                }
                else {
                    alert("Please select printer")
                }
            }
            else {
                alert("Please fill OrderKey");
            }
        }
  
        //if ()
        
    }
    function getlabelValidation() {
        $("#spin").toggle();
        $("#printbutton").toggle();
        mfdate = $.trim($("#plabel7").val());
        datecode = $.trim($("#plabel8").val());
        lot = $.trim($("#plabel3").val());
        var crossdock = "True";
        //string InnerQty, string sku, string OuterQty, string Orderkey, string No_of_Labels, string COO, string mfdate, string datecode, string lot, string wgt, string printer, string innercount
        var data = JSON.stringify
            ({
                'InnerQty': InnerQty,
                'sku': sku,
                'OuterQty': OuterQty,
                'Orderkey': Orderkey,
                'No_of_Labels': No_of_Labels,
                'COO': COO,
                'mfdate': mfdate,
                'datecode': datecode,
                'lot': lot,
                'wgt': wgt,
                'printer': printer,
                'innercount': innercount,
                'crossdock': crossdock,
                'lpn': LPN,
                'orderLineno': orderLineno
            });
        $("#process").toggle();
        $.ajax({
            type: 'POST',
            url: "/Pidsa/getOrderrValues",
            data: data,
            contentType: "application/json; charset=utf-8",

            success: function (data) {
                $("#spin").toggle();
                $("#printbutton").toggle();
                if (data) {
                
                    alert(data);
                
                }
            },
        });

        
    }
    function EnableDisableTB() {
        $("#lpncheker").toggle();
        $("#lpnlabelchecker").toggle();
        var innercheck = document.getElementById("inner");
        var otherlan = document.getElementById("plabel5");
        var item = document.getElementById("plabel2");
        var innerqty = document.getElementById("plabel6");
        var wight = document.getElementById("plabel4");
        var LPNcheck = document.getElementById("plabel11");

        otherlan.disabled = innercheck.checked ? false : true;
        otherlan.value = "";
        item.disabled = innercheck.checked ? false : true;
        item.value = "";
        innerqty.disabled = innercheck.checked ? false : true;
        innerqty.value = "";
        wight.disabled = innercheck.checked ? false : true;
        wight.value = "";
        LPNcheck.disabled = innercheck.checked ? false : true;
        LPNcheck.value = "";
        //if (!otherlan.disabled) {
        //    otherlan.focus();
        //    item.focus();
        //    innerqty.focus();
        //}
        wgt = "";
        InnerQty = "";
        innercount = "";
        sku = "";
        LPN = "";
        document.getElementById("lpncheker").checked = false;

    }
    function EnabelLpn() {
        var outerchecker = document.getElementById("outer").checked;
        console.log(outerchecker);
        debugger
        if (outerchecker == true) {
            var lpnchecker = document.getElementById("lpncheker");
            var LPNcheck = document.getElementById("plabel11");

            LPNcheck.disabled = lpnchecker.checked ? false : true;
        }
        else {
            document.getElementById("lpncheker").checked = false;

        }
        

    }
    function Home() {
        window.location ="Home"
    }
    function logOut() {
        window.location = "login"
    }
</script>

